body{
    font-family: Arial, sans-serif;
    margin:50px;
}
.card{
    border:2px solid #d4d41b;
    padding:30px;
    margin-bottom:30px;
    border-radius:20px;
}
button{
    padding:10px;
    margin-top:10px;
}